<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "public/css/poole.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "public/css/syntax.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "public/css/hyde.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "public/css/blog.css" | relative_url }}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">


  <!-- JS -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <!-- <script>
    MathJax = {
      tex: {
        extensions: ["AMSmath.js", "AMSsymbols.js"]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script> -->
  <script>
    MathJax = {
      options: {
        renderActions: {
          find: [10, function (doc) {
            for (const node of document.querySelectorAll('script[type^="text/tex"]')) {
              const display = !!node.type.match(/; *mode=display/);
              const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              const text = document.createTextNode('');
              node.parentNode.replaceChild(text, node);
              math.start = {node: text, delim: '', n: 0};
              math.end = {node: text, delim: '', n: 0};
              doc.math.push(math);
            }
          }, '']
        }
      }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "public/apple-touch-icon-144-precomposed.png" | relative_url }}">
  <link rel="shortcut icon" href="{{ "public/favicon.ico" | relative_url }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
